/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
-*= require_self
 */
@import "react-multi-carousel/lib/styles.css";
.map {
  width: 100%;
  margin: 0% 1%;
  height: 250px;
}

.Splashy {
  display: flex;
}

.splash-img-container img {
  width: 50%;
  position: absolute;
  height: 120%;
}

.Splash-Container {
  height: 120vh;
}

.seamlesslogo {
  width: 19vw;
  height: 100%;
  position: relative;
  border-radius: 5%;
  z-index: 1;
  left: 5vw;
  top: 8vw;
}

.splash-links {
  color: rgb(43, 130, 130);
  padding: 0px;
  font-size: 20.3px;
  line-height: 1.44359;
  border: 0px;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 600;
}
.splash-links:hover {
  text-decoration: none;
  color: rgb(43, 130, 130);
}

.splash-links-container {
  position: absolute;
  right: 20%;
  top: -3%;
}

.splash-texts {
  align-self: flex-end;
  position: relative;
  left: 35%;
  width: 50%;
  font-family: "Graphik";
  font-size: 1.5vw;
}

.splash-header-container {
  margin-bottom: 20px;
}

.splash-header {
  font-weight: 600;
  font-size: 3vw;
}

.splash-bottom {
  padding: 6% 2% 1.5% 2%;
  display: flex;
  justify-content: space-evenly;
}
.splash-bottom1,
.splash-bottom2,
.splash-bottom3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.splash-bottom1 p,
.splash-bottom2 p,
.splash-bottom3 p {
  text-align: center;
  font-family: "Graphik";
  font-size: 14px;
}

.splash-bottom1 h4,
.splash-bottom2 h4,
.splash-bottom3 h4 {
  text-align: center;
  font-family: "Graphik";
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5%;
}

.splash-delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Graphik";
}
.splash-delivery-left {
  width: 50%;
  padding: 0 5% 5% 5%;
  text-align: left;
}
.splash-delivery-left h2 {
  font-weight: 800;
  min-height: 1px;
  margin-bottom: 16px;
  font-size: 23.6px;
}

.splash-delivery-left p {
  min-height: 1px;
  font-size: 16.1px;
}

.splash-delivery-right {
  width: 60%;
  padding: 5%;
}

.about {
  background-color: #efefef;
  display: flex;
  padding: 4%;
  align-items: center;
  font-family: "Graphik";
}

.about-left {
  width: 50%;
}

.about-left h2 {
  font-weight: 800;
}

.about-right {
  width: 50%;
}

.about-right a {
  color: rgb(43, 130, 130);
}

.about-right a:hover {
  color: rgb(43, 130, 130);
  text-decoration: none;
}

.special-offers-container {
  font-family: "Graphik";
  background-color: #0e8a90;
  display: flex;
  padding: 4%;
  color: white;
}

.special-offers-left {
  width: 50%;
}
.special-offers-container h4 {
  width: 50%;
  font-weight: 650;
  min-height: 1px;
  margin-bottom: 16px;
  font-size: 18px;
  letter-spacing: 1px;
}

.special-offers-right {
  width: 50%;
}

.special-offers-container .fab {
  padding-right: 5%;
  font-size: 20px;
  padding: 2%;
}

.special-offers-container a {
  color: white;
}
.special-offers-container label {
  font-size: 14px;
  margin-top: 3.2%;
}

.special-offer-input {
  width: 98%;
  border-radius: 2px;
  padding: 5px;
}
.count-me-in-button {
  width: 98%;
  border-radius: 5px;
  padding: 10px;
  margin-top: 4%;
  background-color: #0e8a90;
  color: white;
  border: 2px solid white;
}

@font-face {
  font-family: "Eesti";
  src: url("../fonts/Eesti.ttf");
  font-weight: normal;
  font-style: normal;
}

.splash-text-container {
  display: table;
  margin: 0 auto;
  height: 100vh;
}

.splash-content {
  padding: 40px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.toprated-category-container {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 4.5%;
  margin-right: 4%;
}

.test-container {
  background-image: image_url("central-park-toprated.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
}

// .toprated-category {
//   width: 30%;
//   margin-top: -2.5%;
// }

.link-test:hover {
  text-decoration: none;
}

.toprated-text {
  font-family: "Graphik";
  color: black;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.637);
  display: block;
  font-size: 21px;
  padding: 4%;
  border-radius: 6px;
  line-height: 1.45;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-top: 5%;
  margin-left: 3%;
  width: 70%;
}

.toprated-text:hover {
  background-color: rgba(128, 128, 128, 0.39);
}
/* Login Form */

.login-form-container {
  max-width: 540px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 23px;
  background-color: white;
  font-family: "Graphik";
  font-size: 14px;
}

.login-form-container input[type="email"],
input[type="password"] {
  padding: 23px;
  font-size: 14px;
}

.login-button {
  color: #fff;
  background: #c90017;
  border-color: #c90017;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  border: 2px solid transparent;
  padding: 8px 16px 7px;
  border-radius: 4px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.login-button:hover {
  background-color: maroon;
  outline: 0;
  border: none;
  padding: 9.5px;
}

.login-form-background {
  height: 100vh;
  width: 100vw;
  background-color: #efefef;
  position: absolute;
}

.link-to-create {
  padding: 15px;
  font-size: 14px;
  margin-left: 18%;
}

.link-to-create .create-account {
  color: rgb(43, 130, 130);
  text-decoration: none;
}

.link-to-create .create-account:hover {
  color: rgb(43, 130, 130);

  text-decoration: none;
}

.signin-header {
  font-size: 21px;
  font-weight: bold;
  font-family: "Graphik";
  padding: 0px;
  padding-bottom: 20px;
  margin-right: 0;
}

/* Signup Form */

.signup-form-container {
  max-width: 540px;
  margin: 0 auto;
  padding: 24px;
  background-color: white;
  font-size: 14px;
}

.signup-form-container input[type="email"],
input[type="password"],
input[type="first_name"],
input[type="last_name"] {
  padding: 23px;
  font-size: 14px;
}

.signup-header {
  font-weight: bold;
  font-family: "Graphik";
  padding: 0px;
  padding-bottom: 20px;
  margin-right: 0;
  font-size: 21.1px;
  line-height: 1.37337;
}
.signup-button {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.595;
  font-family: "Graphik";
  background: rgb(43, 130, 130);
  border-color: rgb(43, 130, 130) 7;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 8px 16px 7px;
  letter-spacing: 0.5px;
}
.signup-button:hover {
  background-color: rgb(16, 70, 70);
  outline: 0;
  border: none;
  padding: 9.5px;
}

.signup-form-background {
  height: 100vh;
  width: 100vw;
  background-color: #efefef;
}

.link-to-signin {
  padding: 15px;
  font-size: 14px;
  margin-left: 32%;
  border: 2px solid transparent;
  letter-spacing: 0.5px;
}

.link-to-signin .have-account {
  color: rgb(43, 130, 130);
  text-decoration: none;
}

.link-to-signin .have-account:hover {
  color: rgb(43, 130, 130);
  text-decoration: none;
}

.first_name {
  width: 50%;
  padding-right: 3px;
}
.last_name {
  width: 50%;
  padding-left: 3px;
}

.firstname_lastname {
  display: flex;
}

/* Profile Nav */
.main-nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  width: 100%;
  height: 65px;
  color: #2b8282;
  transform: translateZ(0);
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  background-color: white;
  justify-content: space-between;
  padding: 1%;
}

.fa-angle-down {
  font-size: 16px;
}

.fa-close {
  font-size: 30px;
  color: rgb(16, 70, 70);
  padding: 3%;
}

.MuiButton-label-73 {
  font-weight: 500;
  color: rgb(43, 130, 130);
  font-family: "Graphik";
  font-size: 14px;
  line-height: 36px;
  text-transform: none;
  width: 30%;
}

.modal-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  font-family: "Graphik";
}

.modal-between {
  font-size: 13px;
}

.seamless-nav-logo {
  width: 10vw;
  height: 100%;
  position: relative;
  border-radius: 5%;
  z-index: 1;
  left: 0vw;
  top: 0vw;
}
.nav-search-bar {
  .MuiPaper-elevation1-8 {
    box-shadow: none;
  }
}
.suggestionsList:hover {
  cursor: pointer;
}

.fa-bell {
  font-size: 27px;
  padding-top: 15px;
  color: rgb(43, 130, 130);
  padding: 5px;
}
.fa-shopping-bag {
  font-size: 27px;
  padding-top: 15px;
  color: rgb(43, 130, 130);
  padding: 5px;
}

.errors {
  color: #fb6100;
  text-align: left;
}

.signup-errors {
  color: #fb6100;
}
.firstlast {
  display: flex;
  justify-content: space-around;
}

/* Profile */
.profile-container {
  height: fit-content;
  width: 100vw;
  background-color: #efefef;
  position: absolute;
}

.profile-subcontainer {
  height: fit-content;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid #bebebe;
}

.seamlesslogo-nav-container img {
  width: 11vw;
}

/* Modal */

.modal-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-main {
  z-index: 2;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 576px;
  min-height: 350px;
}

.reorder-button {
  color: #2b8282;
  background: 0 0;
  border-color: #2b8282;
  margin-bottom: 20px;
  width: 100%;
}
.cuisine-container-previous-orders {
  // display: flex;
  width: 100%;
  // flex-direction: row;
  justify-content: space-evenly;
}

.reorder-button:hover {
  border-color: #123b3b;
  color: white;
  background-color: #123b3b;
}
.order-card-container:hover {
  color: #0b2525;
}

.toggle-button-modal {
  width: 265px;
  padding: 10px 15px;
  background-color: white !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
  color: #2b8282 !important;
  box-shadow: none;
}

.toggle-button-modal:hover {
  width: 265px;
  padding: 10px 15px;
  background-color: #1e5c5c;
  color: white;
  box-shadow: none;
}

.toggle-button-modal-selected {
  /* border: none; */
  color: white !important;
  width: 265px;
  padding: 10px 15px;
  background-color: rgb(16, 70, 70) !important;
  border-color: rgb(16, 70, 70) !important;
  box-shadow: none;
}

.toggle-button-modal-selected:hover,
.toggle-button-modal-selected:focus {
  color: white;
  width: 265px;
  padding: 10px 15px;
  background-color: rgb(16, 70, 70);
  border-color: rgb(16, 70, 70);
  box-shadow: none;
}

.toggle-button-modal:hover,
.toggle-button-modal-selected:hover {
  cursor: pointer;
  background-color: rgb(16, 70, 70);
  box-shadow: none;
}
.category-right .modal-header-order {
  margin-top: 0;
}
.modal-header-order {
  font-size: 23.3px;
  line-height: 1.37337;
  color: black;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 22px;
  border-bottom: none;
  font-family: "Graphik";
}
.modal-header-order-explore {
  font-size: 23.3px;
  line-height: 1.37337;
  color: black;
  font-weight: 500;

  margin-top: 22px;
  margin-left: 4.4%;
  border-bottom: none;
  font-family: "Graphik";
}

.modal-address {
  font-size: 17.7px;
  line-height: 1.51741;
  color: black;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* Footer */
.footer-container {
  background-color: #0e8a90;
}

.footer-line {
  border-bottom: 1px solid rgb(199, 207, 211);
  width: 90%;
  display: flex;
  background-color: #0e8a90;
  margin-left: 4%;
}

.footer {
  background-color: #0e8a90;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Graphik";
  line-height: inherit;
  padding: 48px 16px;
}

.footer-left {
  width: 50%;
  padding-left: 4%;
  margin-right: 4%;
}
.footer-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  color: white;
}

.footer-right a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.footer-right a {
  color: #fff;
}

/* browse by category */

.category-container {
  display: flex;
  font-family: "Graphik";
}

.category-left {
  padding: 2%;
  width: 25vw;
  background-color: #efefef;
}

.category-right {
  width: 75vw;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-left h1 {
  display: inline-block;
  margin-right: 6%;
  margin-bottom: 8%;
  font-weight: 600;
  font-size: 20px;
}
.category-left a {
  color: black;
  font-size: 14px;
  text-decoration: underline;
}

.category-left a:hover {
  text-decoration: none;
}

.today-asap a {
  text-decoration: none;
  color: rgb(43, 130, 130);
}

.category-left h2 {
  font-size: 15.4px;
  line-height: 1.595;
  font-weight: 600;
  display: inline-block;
  margin-right: 5%;
  margin-bottom: 8%;
}
.category-left h2:hover {
  border-bottom: 3px solid rgb(43, 130, 130);
}

.category-left h3 {
  font-size: 16.5px;
  line-height: 1.595;
  font-weight: 600;
  display: inline-block;
  margin-right: 5%;
  margin-bottom: 8%;
}

#panel {
  background-color: #efefef;
  display: none;
  z-index: 9;
  width: 100%;
  font-family: "Graphik";
}
#panel .fa-angle-up {
  position: absolute;
  top: 45%;
  left: 25%;
}

#flip .fa-angle-down {
  position: absolute;
  top: 0px;
  right: 0px;
}

#flip {
  position: relative;
}

.fa-star {
  color: #0e8a90;
  font-size: 1rem;
  box-sizing: border-box;
}

.star-container {
  width: 100%;
  padding: 2% 6.5%;
  border-radius: 8%;
  cursor: pointer;
}

.star-filtered {
  background-color: #0e8a90;
  .fa-star {
    color: white;
  }
}

.star-container:hover {
  background-color: #0e8a90;
  .fa-star {
    color: white;
  }
}

.vl {
  border-left: 1px solid rgb(192, 192, 192);
  height: 30px;
}

.rating-box {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
}

// DOLLAR SIGN
.dollar {
  width: 20%;
  height: 100%;
  font-size: 10px;
}

/* Shopping Bag */

.shopping-bag-icon {
  cursor: pointer;
}

.checkout-button-modal {
  color: white;
  background-color: rgb(43, 130, 130);
  border: 1px solid rgb(43, 130, 130);
}

.checkout-button-modal:hover {
  cursor: pointer;
  background-color: rgb(16, 70, 70);
  text-decoration: none;
}

.checkout-instructions-modal {
  .user-info-modal {
    font-size: 14px;
  }
  h6 {
    color: rgb(43, 130, 130);
    font-weight: 600;
    font-size: 16px;
  }
  h5 {
    padding: 2% 0%;
  }
  .order-settings-modal {
    padding: 3% 0%;
  }
}
.bag-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent;
}

.bag-main {
  z-index: 2;
  background-color: #fefefe;
  top: 80px;
  position: absolute;
  right: 20px;
  width: 300px;
  padding: 30px;
  min-height: 248px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  /* opacity: 0; */
  transform: translateY(-10px);
  transition: 0.25s ease-out;
  transition-property: opacity, transform, visibility;
}

// restaurant show page
.restaurant-banner {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.restaurant-links {
  margin-left: 7.8%;
  padding: 1%;
}
.restaurant-links a {
  color: #0e8a90;
  opacity: 1;
}

.restaurant-links a:hover {
  border-bottom: 3px solid#0e8a90;
  cursor: pointer;
  color: black;
  text-decoration: none;
  // background-color: #0e8a90;
}

.restaurant-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.restaurant-links a {
  padding: 3px;
}

.restaurant-info {
  margin-left: 8%;
  width: 50%;
  padding: 1%;
}

.restaurant-info span {
  font-size: 16px;
  font-family: "Graphik";
}

.restaurant-info h1 {
  font-weight: 600;
  font-family: "Graphik";
  font-size: 30.8px;
  line-height: 1.243;
}
.restaurant-bottom {
  max-width: 1056px;
  margin: 0 auto;
  padding: 16px;
  padding-bottom: 2%;
}

.restaurant-hours h1 {
  color: rgba(0, 0, 0, 0.55);
  background: #efefef;
}

.restaurant-showpage-container h3 {
  font-weight: 600;
  font-family: "Graphik";
  font-size: 22px;
  line-height: 1.40395;
}

.restaurant-banner-img img {
  display: block;
  width: 100%;
  height: auto !important;
  // width: auto\9;
  -ms-interpolation-mode: bicubic;
}

.restaurant-banner-img {
  margin: 0 auto;
  width: 1900px;
  max-height: 270px;
  overflow: hidden;
}

.restaurant-hours {
  width: 50%;
}
.restaurant-reviews-main {
  padding-top: 2%;
}

.restaurant-reviews-main span {
  color: rgba(0, 0, 0, 0.55);
  font-size: 12px;
}

.review-body {
  padding-top: 3%;
  padding-bottom: 3%;
}

// cusine cards

/* Reviews */

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;

  &-top {
    color: #d4a31bfb;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    display: block;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

.star-ratings {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 17px;
  height: 30px;
  width: 100px;
  // margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;

  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    display: block;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

.review-container {
  font-size: 14px;
  font-family: "Graphik";
  // margin: 0 7.9%;
}

.review-name h6 {
  font-weight: 500;
  font-size: 14px;
}

.avatar {
  background-color: #40c2de;
  border-radius: 50%;
  display: inline-block;
  padding: 1% 1.5%;
  color: white;
  margin-bottom: 2%;
  font-family: "Graphik";
  font-weight: 600;
}

/* Menu */
.menu-item-container {
  display: flex;
  margin: 0 7.9%;
  flex-direction: column;
  font-size: 14px;
  font-family: "Graphik";
}
.menu-item-container h2 {
  font-weight: 600;
  font-family: "Graphik";
  font-size: 22px;
  line-height: 1.40395;
  margin: 1%;
}

.menu-item-name {
  font-weight: 400px;
}

// Menu Item Style
.menu-item-button-container {
  border-radius: 3px;
  width: 100%;
  margin-top: 5px;
  max-width: 504px;
  background-color: white;
}

.menu-item-container {
  max-width: 1056px;
  margin: 0 auto;
  padding: 16px;
}

.menu-item-background {
  background-color: #efefef;
  width: 100%;
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

.pac-container {
  z-index: 99999;
}

.restaurant-row-img {
  height: 90px;
  width: 90px;
  max-width: 90px;
  object-fit: cover;
}
.restaurant-rows:hover {
  background-color: rgba(128, 128, 128, 0.185);
  text-decoration: none;
}

.restaurant-row-name {
  color: rgb(43, 130, 130);
  font-family: "Graphik";
  font-weight: 500;
}
.restaurant-row-cuisine-name {
  color: #8f8e8e;
  font-size: 14px;
  font-family: "Graphik";
}
.user-profile-container {
  display: flex;
  height: 90vh;
  font-family: "Graphik";
  margin-left: 2.3%;
}

.user-profile-left {
  flex: 0 0 25%;
  max-width: 25%;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.your-account {
  font-size: 23.3px;
  line-height: 1.37337;
  color: black;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 22px;
  border-bottom: none;
  font-family: "Graphik";
}

.user-profile-left li {
  font-size: 14.5px;
  line-height: 1.595;
  color: #2b8282;
  font-weight: 550;
  margin: 5px;
  padding-bottom: 2%;
}
.user-profile-left a {
  font-size: 14.5px;
  line-height: 1.595;
  color: #2b8282;
  font-weight: 550;
}
.user-profile-left a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #124646;
}
.user-profile-left a:focus {
  color: black;
}

.user-profile-right {
  width: 75%;
  background-color: #efefef;
}

.card {
  width: 98%;
  margin: 0.9%;
}

.card-body h5 {
  padding-bottom: 2%;
  font-family: "Graphik";
  font-weight: 500;
}

.card-body p {
  font-family: "Graphik";
  padding-bottom: 2%;
  font-size: 14px;
  line-height: 1.6;
}
.card-body h6 {
  font-family: "Graphik";
  font-size: 14px;
  line-height: 1.6;
  padding-bottom: 2%;
  border-bottom: 1px solid #e4e4e4;
}

.checkout-button-container {
  margin: 0 auto;
  position: absolute;
  padding: 16px;
  width: 100%;
  bottom: 80px;
}

.checkout-button,
.checkout-button:hover,
.checkout-button:active {
  width: 100%;
  background-color: #13aa37;
  border-color: #13aa37;
}

.cart-error-title {
  margin: 0;
  padding: 16px 0;
  font-size: 24px;
  color: #cacaca;
  position: relative;
  left: 50%;
}
.cart-error-emptyCart {
  padding: 10px;
  top: 25%;
  position: fixed;
}

.empty-cart-button,
.empty-cart-button:hover,
.empty-cart-button:active {
  color: #2b8282;
  background-color: transparent;
  border-color: transparent;
}

// Order Confirmation Page //

.order-show-details-heading {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.order-show-restaurant-details {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  font-family: "Graphik";
  padding: 4% 0%;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  h4 {
    font-weight: 500;
  }
  h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.32;
  }
  .phone-number {
    color: #0e8a90;
    padding: 2% 0%;
  }
}

.order-show-reorder {
  .reorder-button {
    background-color: rgb(43, 130, 130);
    color: white;
    width: 300px;
  }
  .reorder-button:hover {
    cursor: pointer;
    background-color: rgb(16, 70, 70);
  }
}

.order-show-right {
  width: 70%;
  .order-date {
    margin-left: 2%;
  }
}
.order-show-left {
  width: 30%;
  padding: 1%;
}
.order-show-details-heading {
  h1 {
    margin-top: 2%;
  }
  a {
    text-decoration: none;
    color: rgb(43, 130, 130);
    font-size: 13px;
  }
}

.order-show-details-heading a:hover {
  color: rgb(16, 70, 70);
}
.order-show-container-bottom {
  display: flex;
  margin: 3% 0%;
}

.cuisine-container {
  margin-bottom: 40px;
  padding-top: 20px;
}

.cuisine-name {
  color: rgba(0, 0, 0, 0.55);
  font-size: 14px;
  margin-top: -11px;
  margin-bottom: 5px;
  font-family: "Graphik";
}

.order-show-container-bottom h1 {
  font-family: "Graphik";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.32;
  margin-top: 2%;
}

.order-show-container {
  .delivery {
    color: #0e8a90;
  }
  p {
    color: black;
    font-size: 14px;
    font-family: "Graphik";
    text-align: left;
    margin-bottom: 2%;
  }
}

.order-show-right li {
  display: flex;
  justify-content: space-between;
  padding: 0.5% 2%;
  margin: 2% 0%;
}

.order-show-total {
  li {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-family: "Graphik";
  }
}

.cuisine-links {
  color: black;
  font-size: 13.5px;
  text-align: center;
}

.cuisine-links:hover {
  text-decoration: none;
  color: rgb(43, 130, 130);
}

.line {
  border-bottom: 1px solid #efefef;
  width: 95.5%;
  margin: 0 auto;
}

.user-info p {
  color: rgba(0, 0, 0, 0.507);
  // padding: 3% 0%;
}
.user-payment h3 {
  font-size: 22px;
  font-family: "Graphik";
  font-weight: 500;
}
.user-payment {
  display: flex;
  padding: 3% 0%;
}
.item-names {
  text-overflow: ellipsis;
}
.review-modal {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  textarea {
    width: 400px;
    height: 90px;
    font-family: "Graphik";
    outline-color: rgb(43, 130, 130);
    border-radius: 3px;
  }
  overflow-wrap: break-word;
}
.review-button-modal {
  color: white;
  background-color: rgb(43, 130, 130);
  border: 1px solid rgb(43, 130, 130);
  margin: 2%;
  // overflow-wrap: break-word;
}

.review-button-modal:hover {
  cursor: pointer;
  background-color: rgb(16, 70, 70);
  text-decoration: none;
}

.order-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: #888;
}
.order-rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color: "orange";
}
.order-rating-top > span:hover:before,
span:focus:before,
.order-rating-top > span:hover ~ span:before {
  content: "\2605";
  color: #d4651bfb;
  position: absolute;
}

.order-rating-top {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: #d4651bfb;
}
