/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.Splashy {
  display: flex;
}

.splash-img-container img {
  width: 700px;
  position: absolute;
}

.seamlesslogo {
  width: 170px;
  height: 100%;
  position: relative;
  border-radius: 10px;
  z-index: 1;
  left: 100px;
  top: 100px;
}

.splash-texts {
  align-self: flex-end;
  position: relative;
  z-index: 99;
  left: 550px;
  font-family: grubhubsans-bold;
  font-size: 1.5vw;
}
