/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
-*= require_self
 */

.Splashy {
  display: flex;
}

.splash-img-container img {
  width: 50%;
  position: absolute;
  height: 100%;
}

.seamlesslogo {
  width: 10vw;
  height: 100%;
  position: relative;
  border-radius: 5%;
  z-index: 1;
  left: 5vw;
  top: 5vw;
}

.splash-links {
  color: rgb(43, 130, 130);
  padding: 0px;
  font-size: 20.3px;
  line-height: 1.44359;
  border: 0px;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}

.splash-links-container {
  position: absolute;
  right: 20px;
  padding-top: 64px;
}

.splash-texts {
  align-self: flex-end;
  position: relative;
  left: 35%;
  width: 50%;
  font-family: "Graphik";
  font-size: 1.5vw;
}

.splash-header-container {
  margin-bottom: 20px;
}

.splash-header {
  font-weight: 600;
  font-size: 3vw;
}
/* 
@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik.ttf");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "Eesti";
  src: url("../fonts/Eesti.ttf");
  font-weight: normal;
  font-style: normal;
}

.splash-text-container {
  display: table;
  margin: 0 auto;
  height: 100vh;
}

.splash-content {
  padding: 40px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

/* Login Form */

.login-form-container {
  max-width: 540px;
  margin: 0 auto;
  padding: 23px;
  background-color: white;
  font-family: "Graphik";
  font-size: 14px;
}

.login-form-container input[type="email"],
input[type="password"] {
  padding: 23px;
  font-size: 14px;
}

.login-button {
  color: #fff;
  background: #c90017;
  border-color: #c90017;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  border: 2px solid transparent;
  padding: 8px 16px 7px;
  border-radius: 4px;
  letter-spacing: 0.5px;
}
.login-button:hover {
  background-color: maroon;
}

.login-form-background {
  height: 100vh;
  width: 100vw;
  background-color: #efefef;
}

.link-to-create {
  padding: 15px;
  font-size: 14px;
  margin-left: 18%;
}

.link-to-create .create-account {
  color: rgb(43, 130, 130);
  text-decoration: none;
}

.link-to-create .create-account:hover {
  color: rgb(43, 130, 130);

  text-decoration: none;
}

.signin-header {
  font-size: 21px;
  font-weight: bold;
  font-family: "Graphik";
  padding: 0px;
  padding-bottom: 20px;
  margin-right: 0;
}

/* Signup Form */

.signup-form-container {
  max-width: 540px;
  margin: 0 auto;
  padding: 24px;
  background-color: white;
  font-size: 14px;
}

.signup-form-container input[type="email"],
input[type="password"],
input[type="first_name"],
input[type="last_name"] {
  padding: 23px;
  font-size: 14px;
}

.signup-header {
  font-weight: bold;
  font-family: "Graphik";
  padding: 0px;
  padding-bottom: 20px;
  margin-right: 0;
  font-size: 21.1px;
  line-height: 1.37337;
}
.signup-button {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.595;
  font-family: "Graphik";
  background: rgb(43, 130, 130);
  border-color: rgb(43, 130, 130) 7;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 8px 16px 7px;
  letter-spacing: 0.5px;
}
.signup-button:hover {
  background-color: rgb(43, 130, 130);
}

.signup-form-background {
  height: 100vh;
  width: 100vw;
  background-color: #efefef;
}

.link-to-signin {
  padding: 15px;
  font-size: 14px;
  margin-left: 32%;
  border: 2px solid transparent;
  letter-spacing: 0.5px;
}

.link-to-signin .have-account {
  color: rgb(43, 130, 130);
  text-decoration: none;
}

.link-to-signin .have-account:hover {
  color: rgb(43, 130, 130);
  text-decoration: none;
}

.first_name {
  width: 50%;
  padding-right: 3px;
}
.last_name {
  width: 50%;
  padding-left: 3px;
}

.firstname_lastname {
  display: flex;
}

/* Profile Nav */
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  width: 100%;
  height: 60px;
  color: #2b8282;
  transform: translateZ(0);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.seamless-nav-logo {
  width: 10vw;
  height: 100%;
  position: relative;
  border-radius: 5%;
  z-index: 1;
  left: 0vw;
  top: 0vw;
}

.fa-bell {
  font-size: 30px;
  padding-top: 15px;
  color: rgb(43, 130, 130);
  padding: 5px;
}
.fa-shopping-bag {
  font-size: 30px;
  padding-top: 15px;
  color: rgb(43, 130, 130);
  padding: 5px;
}

.search-bar {
  border-radius: 5%;
  font-size: 14px;
  color: rgb(43, 130, 130);
  padding-top: 20px;
  position: relative;
  z-index: 2;
  height: 44px;
  flex: 3 1 auto;
  width: 10px;
  margin-bottom: 0;
}

.errors {
  color: #fb6100;
  text-align: left;
}

.signup-errors {
  color: #fb6100;
}
.firstlast {
  display: flex;
  justify-content: space-around;
}
